.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}

.headerTitleSm {
  position: absolute;
  top: 18%;
  text-decoration: solid;
  font-size: 40px;
}

.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 100px;
}

.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 80px;
  object-fit: cover;
}
.head-text {
  position: relative;
}
.text-on-image {
  background-color: rgb(211, 214, 216);
  color: rgb(66, 66, 66);
  position: absolute;
  text-decoration: solid;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  right: 77%;
  left: 5%;
  bottom: 15%;
}
p {
  background-color: rgb(255, 255, 255);
  margin-top: 15px;
  font-size: 20px;
}
.text-on-image > button {
  margin-top: 10px;
  text-decoration: solid;
  font-size: 15px;
  border-radius: 10px;
  background-color: #ffff;
  color: rgb(100, 100, 100);
  text-align: center;
}
